*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin-top: 180px;
    
}
.one
{
    height: 350px;
    width: 450px;
    background-color: rgb(193, 44, 44);
    position: relative;
}
.ball {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 138px;
    left: 190px;
    animation: praveen 2s linear infinite;
}
 .colume {
    background-color: black;
    width: 50px;
    height: 160px;
    position: absolute;
    animation: aman 2s linear infinite;
    /* top: 0px;  */
}
.colume1
{
    background-color:black;
    width: 50px;
    height: 160px;
    position: absolute;
    right: 0;
    /* top: 0; */
    animation: ashok 2s linear infinite;
}
@keyframes aman
{
    0%
    {
        top: 0;
    }
    50%
    {
        top: 180px;
    }
    100%
    {
        top: 0;
    }
}
@keyframes ashok
{
    0%
    {
        top: 180px;
        
    }
    50%
    {
        top: 0;
    }
    100%
    {
        top: 180px;
        
    }
}
@keyframes praveen
{
    0%
    {
         left: 50px; 
    }
    50%
    {
        /* left: 340px; */
        left: 230px;
    }
    100%
    {
        /* left: 50px; */
        left: 40px;
    }
} 
/* @media screen and (min-width:320px) and (max-width:570px)
{
    body
    {
        flex-wrap: wrap;
    }
} */